@use "../../assets/styles/vars.scss";

.card-animal{
  border: solid 1px vars.$green-main;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  width: 35rem;
  margin: 0 0 1.5rem 0;
  box-shadow: 7px 7px 8px rgb(170, 170, 170);
  padding: 0 1rem 0 0;
}

.card-animal:hover{
  position: relative;
  top: 5px;
  
}

.selection-right{
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 0;
  font-family: vars.$police-Main;
}

.animal-name{
  display: block;
  font-size: 1.5rem;
  margin: 0 1rem 0.5rem 1rem;
  font-weight: 600;
  color: vars.$green-main;
  font-family: vars.$police-Main;
}

.animal-class{
  display: block;
}

.animal-sort{
  margin: 0.6rem 0 0 1rem;
  font-family: vars.$police-Main;
  font-weight: 700;
}

.animal-underSort{
  margin: 0.6rem 0 0 1rem;
  font-family: vars.$police-Main;
  font-weight: 700;
}

.selection-left{
  display: flex;
  flex-direction: row;
}

.img1{
  width: 15rem;
  height: 13rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem 0 1rem 1rem;
}

.selection-down__right{
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 2rem;
}

.contenaire-info{
  margin: 0 0 0 0;
  font-family: vars.$police-Main;
  font-weight: 700;
  line-height: 2rem;
}

.icone{
  width: 2rem;
  margin: 0 0 0 0;
}

.info-name{
  position: relative;
  margin:  0 0 1rem 1rem;
  bottom: 0.8rem;
  font-size: 0.8rem;
  font-weight: 700;
}

//On modifie la card lorsque l'ecran se retrecite
@media screen and (max-width: 870px) {


  .selection-left{
    display: flex;
    flex-direction: column;
  }

  .card-animal{
    position: relative;
    width: 28rem;
  }

  .contenerSelection{
    width: 100%;
  }

  .animal-name{
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
    margin: 0.5rem 0 0 1rem;
  }

  .animal-class{
    position: absolute;
    top: 1rem;
    margin: 1.2rem 0 0 0rem;
    width: 100%;
    text-align: center;
  }

  .img1{
    display: block;
     width: 17rem;
    height: 15rem;
    border-radius: 0.5rem;
    margin: 4rem auto 1rem auto;
  }

  .contenaire-info{
    margin: 0 auto 0 auto;
    font-family: vars.$police-Main;
    font-weight: 700;
    line-height: 2rem;
  }
}

//On modifie la card lorsque l'ecran se retrecite
@media screen and (max-width: 780px) {
  .card-animal{
    position: relative;
    width: 22rem;
  }
}
