@use "../../assets/styles/vars.scss";

.card-animal{
  border: solid 1px vars.$green-main;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 47%;
  margin: 0 0 1.5rem 0;
  box-shadow: 7px 7px 8px rgb(170, 170, 170);
  margin: 0 0 1rem 0;
  padding: 0 1rem 0 0;
}

.card-animal:hover{
  position: relative;
  top: 5px;
  
}

.selection-up{
  display: flex;
  flex-direction: row;
  margin: 1rem 0 0 0;
  font-family: vars.$police-Main;
}

.animal-name{
  display: block;
  font-size: 1.5rem;
  margin: 0 1rem 0 1rem;
  font-weight: 600;
  color: vars.$green-main;
  font-family: vars.$police-Main;
}

.animal-sort{
  margin: 0.6rem 0 0 0;
  font-family: vars.$police-Main;
  font-weight: 700;
}

.animal-underSort{
  margin: 0.6rem 0 0 1rem;
  font-family: vars.$police-Main;
  font-weight: 700;
}

.selection-down{
  display: flex;
  flex-direction: row;

}

.img1{
  width: 13rem;
  height: 10rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem 0 1rem 1rem;
}

.selection-down__right{
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 2rem;
}

.contenaire-info{
  margin: 0 0 1rem 0;
  font-family: vars.$police-Main;
  font-weight: 700;
  line-height: 2rem;
}

.icone{
  width: 2rem;
  margin: 0 0 0 0;
}

.info-name{
  position: relative;
  margin:  0 0 1rem 1rem;
  bottom: 0.8rem;
}
