
.contener-main{
  margin: 1rem 0 0 0;
  
  background-color: red;
  
}

.picture-animal{
  width: 10rem;
  height: 10rem;
}

.Titre-name{
  text-align: center;
  font-weight: 500;
  font-size: 1.7rem;
}
