@use "../../assets/styles/vars.scss";


.loadingImg{
  display: none;
  margin: auto;
  height: 2rem;
}

.contener-main{
  margin: 1rem 1.5rem 0 1.5rem;
  display: block;
  
}

.Titre-name{
  position: sticky;
  top: 2rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 2.2rem 0 3rem 0;
  font-family: vars.$police-Main;
  color: vars.$green-main;
}

.contener-fiche{
display: flex;
}

.contener-picture{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.picture-animal{
  display: none;
  position: sticky;
  top: 5rem;
  width: 35rem;
  height: 35rem;
margin: 0 auto 0 auto;
border-radius: 0.5rem;
overflow-y:visible;
overflow-x: visible;
}

.picture-boss{
  display: none;
  position: sticky;
  top: 5rem;
  width: 35rem;
  height: 35rem;
margin: 0 auto 0 auto;
border-radius: 0.5rem;
overflow-y:visible;
overflow-x: visible;
}

.description-animal{
  position: sticky;
  top: 41rem;
  margin: 1rem 0 0 0 ;
  align-self: center;
  font-size: 1.2rem;
  font-family: vars.$police-Main;
  color: vars.$green-main;
  font-weight: 700;

}

.Contener-infos{
  margin: 7rem auto 4rem auto;
  font-family: vars.$police-Main;

}

.contener-generique{
  margin: 0 0 1rem 0;
  border: 1px solid vars.$green-main;
  width: 50rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}

.wrapper-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.Info-generique{
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 1rem;
}

.titre-info{
  font-weight: 900;
  margin: 0 0 0.5rem 0;
}

.dataToGet{
  text-align: center;
}

.titre-generique{
  background-color:vars.$green-main;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 1rem ;
  padding: 0.5rem 0 ;
  border-radius: 0.2rem;
  font-weight: 900;
}

.contener-none{
  display: none;
}
