/*les couleurs*/

/* SCSS HEX */
$green-last: #4c934cff;
$green-main: #53a548ff;
$green-white: #52aa5eff;
$green-black: #004f2dff;
$second-color: #eac435ff;

/* la police */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
$police-Main: 'Raleway', sans-serif;



//@import url('https://fonts.googleapis.com/css2?family=Sunshiney&display=swap');
//$police-child: 'Sunshiney', cursive;

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
$police-child: 'Courgette', cursive;

//@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
//$police-child: 'Dancing Script', cursive;


//ok
//@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
//$police-child: 'Marck Script', cursive;


